.error-box.fatal {
	background-color: #f88;
	border-color: #d33;
}

.error-box .x-window-body {
	background: transparent;
	border: none;
}

.error-box .detail {
	border: none;
	border-top: 1px solid #000;
	padding: 0px 10px;
	margin: 0;
	margin-top: 20px;
}

.error-box .detail legend {
	color: #000;
}

/******* FATAL *******/
.error-box.fatal .x-window-header,
.error-box.datal .x-window-header-text-default {
	color: #000;
	background: transparent;
}

/******* REQUEST *******/
.error-box.request table th {
	font-weight: bold;
	padding: 2px 5px;
}

/******* MODULES PANEL *******/
.x-modules-list {
	background-color: #fff;
	text-align: center;
}

.x-modules-list .module {
	width : 110px;
	margin: 10px auto 30px auto;
	padding: 10px;
	border: 1px solid transparent;
	border-radius: 5px;
}

.x-modules-list .module .x-icon {
	background-repeat: no-repeat;
	background-position: top center;
	width      : 48px;
	height     : 48px;
	display    : block;
	margin     : 0px auto;
}

.x-modules-list .module:hover,
.x-modules-list .module.x-item-selected {
	background-color: #dfe8f6;
	border: 1px solid #abf;
}



.x-action-col-icon {
	width      : 20px;
	height     : 20px;
	background : none center center no-repeat;
}

.x-grid-row.x-animate, .x-grid-row.x-animate .x-grid-cell {
	-webkit-transition: background-color 2s ease;
}

.x-grid-row.x-added, .x-grid-row.x-added .x-grid-cell {
	background-color : #43718F;
}

.x-grid-row.x-read, .x-grid-row.x-read .x-grid-cell {
	background-color : #B0D25D;
}